body{
    padding: 0;
    margin: 5px 0 0;
    overflow: hidden;
}

#editor{
    position: absolute;
    top:35px;
    bottom: 24px;
    right: 0;
    left: 0;
    background: #262626;
}

.CodeMirror{
    height: 100% !important;
}
.info{
    font-family: monospace;
    position: absolute;
    bottom: 0;
    background: #eeeeee;
    height: 20px;
    padding: 2px;
    left: 0;
    right: 0;
}

.info label{
    font-weight: bold;
}

.buttons{
    padding: 2px;
    height: 25px;
}

